body {
    font-family: 'Roboto';
    width: 1440px;
    height: 1912px;
    display: flex;
    flex-direction: column;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    margin: 8px;
    font-size: 18px;
}

.hero, .info, .call {
    padding: 0px 240px;
}

/* Hero */

.hero {
    background-color: #1F2937;
}

.header {
    display: flex;
    padding-top: 16px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links {
    margin-left: auto;
    display: flex;
}

.hero-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 480px;
    gap: 48px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-text-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.signup {
    background-color: #3882F6;
    height: 24px;
    width: 108px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
}

.dog {
    flex: 0;
    width: 480px;
    height: auto;
}

/* Information */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 480px;
    gap: 32px;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.info-pics-list {
    display: flex;
    flex-direction: column;
    width: 120px;
    text-align: center;
    gap: 8px;
}

.info-pics {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    font-size: 12px;
}

.pic {
    aspect-ratio: 1 / 1;
    border: #3882F6;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
}

/* Quote */

.quote {
    height: 400px;
    background-color: #E5E7EB;
    padding: 0px 325px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937
}

.quote-source {
    text-align: right;
    font-weight: bold;
    margin-right: 20px;
}

/* Call to action box */

.call {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-box {
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    flex: auto;
    color: #F9FAF8;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
}

.call-text-1 {
    font-size: 24px;
    font-weight: bold;
}

.call-text-2 {
    font-size: 18px;
}

a.call-button {
    border-style: solid;
    border-color: #F9FAF8;
    border-radius: 10px;
    border-width: 3px;
    background-color: #3882F6;
    padding: 6px 28px;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 20px;
}

/* Footer */

.footer {
    height: 100px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}