body {
    font-family: 'Roboto';
    width: 1440px;
    height: 1912px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    margin: 8px;
    font-size: 18px;
}

.hero, .info {
    padding: 0px 240px;
}

/* Hero */

.hero {
    background-color: #1F2937;
}

.header {
    display: flex;
    padding-top: 16px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links {
    margin-left: auto;
    display: flex;
}

.hero-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 480px;
    gap: 48px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-text-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.signup {
    background-color: #3882F6;
    height: 24px;
    width: 108px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
}

.dog {
    flex: 0;
    width: 480px;
    height: auto;
}

/* Information */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 480px;
    gap: 32px;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.info-pics-list {
    display: flex;
    flex-direction: column;
    width: 120px;
    text-align: center;
    gap: 8px;
}

.info-pics {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    font-size: 12px;
}

.pic {
    aspect-ratio: 1 / 1;
    border: #3882F6;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
}